body {
    background-color: coral;
    float:center;
}

#header {
    font-family: 'Poller One', cursive;
    font-size: 30px;
}

.quizGame {
    text-align: center;
}

#quiz {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#afterSubmit {
    visibility: hidden;
}